{% extends 'index.html' %} 
{% block title %}Home{% endblock title %}
{% block main_content %}
<section class="container">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-8">
            <h3>EMPLOYEE MANAGEMENT</h3>
        </div>
    </div>

    <!-- Filter Form -->
    
    <div class="row justify-content-around mt-5">
        <div class="col-sm-8">
            <form method="get" action="">
                <div class="row mb-3">
                    <div class="col-md-5">
                        <input type="text" name="name" class="form-control" placeholder="Search by Name" 
                               value="{{ request.GET.name }}">
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="date_of_joining" class="form-control" 
                               value="{{ request.GET.date_of_joining}}">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-around mt-5">
        <div class="col-sm-8">
            <a href="{% url 'add-employees' %}" class="btn btn-primary float-end">Add</a>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-sm-8">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date of Joining</th>
                        <th scope="col">Departments</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in empdata %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.date_of_joining }}</td>
                        <td>{{ emp.dept }}</td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <form action="{% url 'delete-employees' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ emp.id }}">
                                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit-employees' emp.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No employees found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section> 
{% endblock main_content %}
